input{
  height:38px;
  width:100%;
  padding: 6px 10px;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-left: 10px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 3px;
}
input:focus{
  border-color: #386ca7;
  outline: 0;
}
select{
  height:38px;
  width:100%;
}
.GreenTile{
  border: 1px solid gray;
  background-color: lightgreen;
}
.PurpleTile{
  border: 1px solid gray;
  background-color: #7c5295;
}
.OrangeTile{
  border: 1px solid gray;
  background-color: #FFD580;
}
.BlueTile{
  border: 1px solid gray;
  background-color: #58CCED;
}
.RedTile{
  border: 1px solid gray;
  background-color: #FF7F7F;
}
.OtherTile{
  border: 1px solid gray;
  background-color: lightgray;
}
.TotalFormat{
  display:inline-block;
}
Button{
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  background: #fff;
  border-radius: 4px;
  border:1px solid #d4dada;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #6772e5;
  text-decoration: none;
  transition: all .15s ease;
}
.AddButton{
  color:orange;
  width:100%;
  font-size: large;
}
.SubtractButton{
  color:orange;
  width:100%;
  font-size: x-large;
}
.GreenInput{
  background-color:#9ccc65;
}
.GreenCommanderInput{
  background-color: darkgreen;
  color:white;
}
.PurpleInput{
  background-color:#CBC3E3;
}
.PurpleCommanderInput{
  background-color: purple;
  color:white;
}
.OrangeInput{
  background-color: #ff9657;
}
.OrangeCommanderInput{
  background-color: darkorange;
  color:white;
}
.BlueInput{
  background-color: lightblue;
}
.BlueCommanderInput{
  background-color: darkblue;
  color:white;
}
.RedInput{
  background-color: #F6BDC0;
}
.RedCommanderInput{
  background-color: darkred;
  color:white;
}
.SubTotal{
  font-weight: bold;
  background-color: lightgray;
  text-align: center;
}
.GrantTotal{
  font-weight: bold;
  font-size: x-large;
}
Button:hover{
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  border-color: #535054;
}
Button:active{
  background-color:lightblue;
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.container{
  border: dashed black .25px;
}
.ColorHeaders{
  font-size:large;
  text-align:center;
  font-weight: bold;
  color:white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
